In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [31]:
data = pd.read_csv("data/titanic_dataset.csv")

data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [38]:
data_numeric = data.drop(["Name", "Ticket", "Embarked", "Cabin", "PassengerId"], axis=1).dropna()

X = data_numeric.drop("Survived", axis=1)
X["Sex"] = np.where(X.Sex == 'male', 1, 0)
Y = data_numeric["Survived"]

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [9]:
def adaboost(X, Y, T=25):
    """Trains an AdaBoost model on given data."""
    n = len(X)
    w = np.ones(n)/n
    tree = DecisionTreeClassifier(criterion='entropy',
                                 random_state=1,
                                 max_depth=1)
    for t in range(T):
        # Train a weak learner using distribution D_t
        tree.train(X)
        y_hat = tree.predict(X)
        error = D*()
        alpha = 1/2*np.log((1-error)/error)

In [40]:
tree = DecisionTreeClassifier(criterion='entropy',
                                 random_state=1,
                                 max_depth=1)

tree.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=1, random_state=1)

In [42]:
tree.predict(X_test)

array([0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1])